<h1 class="edit-title">Editing Book</h1>

<% if @book.errors.any? %>
  <%= @book.errors.count %> error prohibited this book from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @book, url: book_path(@book.id), method: :patch do |f| %>

  <p class="edit-edit-title">Title</p>
  <%= f.text_field :title %>
  
  <p class="edit-edit-body">Body</p>
  <%= f.text_area :body %>
  
  <div class="edit-button"><%= f.submit 'Update Book' %></div>
  
<% end %>

<%= link_to "Show", book_path(@book.id) %>
<span>|</span>
<%= link_to "Back", books_path %>