<% if flash.now[:notice] %>
  <div class="flash">
    <%= flash.now[:notice] %>
  </div>
<% end %>

<div class="show-div show-title">
  <p class="show-top">Title: </p>
  <p class="show-text"><%= @book.title %></p>
</div>
<div class="show-div show-body">
  <p class="show-top">Body: </p>
  <p class="show-text"><%= @book.body %></p>
</div>

<div class="show-button">
  <%= link_to "Edit", edit_book_path(@book.id) %>
  <span>|</span>
  <%= link_to "Back", books_path%>
</div>